.graphChoice {
  margin-top: 10px;
  margin-left: 15px
}

.button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.button:focus {
  outline: none;
}

.nodeSelector {
  padding: 10px;
}

.graph-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 30px;
  row-gap: 30px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.graph {
  align-items: center;
  justify-content: center;
  padding: 20px;
}
