<div class="container">



  <div id="options">

    <div class="statusbarLabels">
      <h2 style="float: left;">Graph Type</h2>
      <h2 style="float: right;">Node Selector</h2>
    </div>


    <div>
      <mat-form-field color="primary" class="graphChoice" appearance="legacy">
        <mat-select class="dropdown" [(value)]="graphType">
          <mat-option value="fixedRange">Fixed Range</mat-option>
          <mat-option value="realtime">Realtime</mat-option>
        </mat-select>
      </mat-form-field>

    </div>



    <div class="nodeSelectorContainer">
      <label class="nodeSelector" for="sn1Selector">SN1</label>
      <mat-checkbox id="sn1Selector" color="primary" [checked]="sn1Selected" (change)="sn1Selected = !sn1Selected"></mat-checkbox>

      <label class="nodeSelector" for="sn2Selector">SN2</label>
      <mat-checkbox id="sn2Selector" color="primary" [checked]="sn2Selected" (change)="sn2Selected = !sn2Selected"></mat-checkbox>

      <label class="nodeSelector" for="sn3Selector">SN3</label>
      <mat-checkbox id="sn3Selector" color="primary" [checked]="sn3Selected" (change)="sn3Selected = !sn3Selected"></mat-checkbox>

      <label class="nodeSelector" for="sn4Selector">SN4</label>
      <mat-checkbox id="sn4Selector" color="primary" [checked]="sn4Selected" (change)="sn4Selected = !sn4Selected"></mat-checkbox>

    </div>

  </div>


  <div class="graph-container" *ngIf='graphType === "fixedRange"'>
    <app-graph-fixed-range class="graph" [graphName]="'SN1'" *ngIf='sn1Selected'></app-graph-fixed-range>

    <app-graph-fixed-range class="graph" [graphName]="'SN2'" *ngIf='sn2Selected'></app-graph-fixed-range>

    <app-graph-fixed-range class="graph" [graphName]="'SN3'" *ngIf='sn3Selected'></app-graph-fixed-range>

    <app-graph-fixed-range class="graph" [graphName]="'SN4'" *ngIf='sn4Selected'></app-graph-fixed-range>
  </div>

  <div class="graph-container" *ngIf='graphType === "realtime"'>

    <app-graph-realtime class="graph" [graphName]="'SN1'" *ngIf='sn1Selected'></app-graph-realtime>

    <app-graph-realtime class="graph" [graphName]="'SN2'" *ngIf='sn2Selected'></app-graph-realtime>

    <app-graph-realtime class="graph" [graphName]="'SN3'" *ngIf='sn3Selected'></app-graph-realtime>

    <app-graph-realtime class="graph" [graphName]="'SN4'" *ngIf='sn4Selected'></app-graph-realtime>
  </div>


</div>
