.graphChoice {
  margin-top: 10px;
  margin-left: 15px
}

.button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.button:focus {
  outline: none;
}

.nodeSelector {
  padding: 10px;
}

.graph-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 30px;
  row-gap: 30px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.graph {
  height: 330px;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 10px 7px rgba(150, 150, 150, 0.377), 0 1px 7px rgba(150, 150, 150, 0.377);

}
