<div>

  <div>

    <select id="graphName" [(ngModel)]="graphName" (change)="changeGraphName()">
      <option value="SN1">SN1</option>
      <option value="SN2">SN2</option>
      <option value="SN3">SN3</option>
      <option value="SN4">SN4</option>
    </select>
    <input id="dateInput" placeholder="Date Time Range:" [style.width]="'350px'" [(ngModel)]="dateTimeRange"
      [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" (dateTimeInput)="changeGraphDomain()"
      readonly="readonly">


  </div>




  <owl-date-time #dtRange1></owl-date-time>

  <owl-date-time #dt1></owl-date-time>


  <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config">
  </plotly-plot>
</div>
