

#dateInput {
  text-align: center;
  margin: auto;
  width: 280px;
  padding: 7px;
  border-radius: 2px;
  border-color: #475473;
}

#dateInput:focus {
  outline: none;
}

.container {
  text-align: center;
}
