.container {
  text-align: center;
  width: 650px;
}

.dateInput {
  text-align: center;
  margin: auto;
  width: 280px;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid grey;
  box-shadow: 0 1px 5px rgba(150, 150, 150, 0.377), 0 1px 5px rgba(150, 150, 150, 0.377);
  border-color: #475473;
}

.dateInput:focus {
  outline: none;
}

.graph {
  padding: 5px;
}

.dateSelector {
  padding: 5px;
}
